/* -- EXTERNAL SOURCES -- */
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
/* ^^ EXTERNAL SOURCES ^^ */

/* -- CSS RESETS -- */
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html, body{
  height: 100%;
}
html, body, div{
  padding: 0px;
  margin: 0px;
}
/* ^^ CSS RESETS ^^ */


/* -- GLOBAL ATTRIBUTES -- */
body{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  background: #ECECEC;
}
::selection {
  background: #363A46; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #363A46; /* Gecko Browsers */
}
/* ^^ GLOBAL ATTRIBUTES ^^ */

#name-tag {
  width: 200px;
  height: 40px;
}
#name-tag > .avatar, #name-tag > .name, #name-tag > .occupation {
  position: absolute;
}
#name-tag > .avatar {
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#name-tag > .name, #name-tag > .occupation {
  left: 60px;
  height: 20px;
  line-height: 20px;
}
#name-tag > .name {
  top: 0px;
}
#name-tag > .occupation {
  bottom: 0px;
}

