/* -- EXTERNAL SOURCES -- */
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
/* ^^ EXTERNAL SOURCES ^^ */

/* -- CSS RESETS -- */
* {
  box-sizing: border-box;
  cursor: default;
}
*:focus {
  outline: none;
}
html, body{
  height: 100%;
}
html, body, div{
  padding: 0px;
  margin: 0px;
}
/* ^^ CSS RESETS ^^ */


/* -- GLOBAL ATTRIBUTES -- */
body{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: #2c3e50
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,233,230,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(236,233,230,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(236,233,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ece9e6',GradientType=0 );
}
::selection {
  background: #363A46; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #363A46; /* Gecko Browsers */
}
/* ^^ GLOBAL ATTRIBUTES ^^ */

#nametag {
  width: 200px;
  padding: 10px;
  background: rgb(142,84,233);
background: -moz-linear-gradient(45deg, rgba(142,84,233,1) 0%, rgba(71,118,230,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(142,84,233,1) 0%,rgba(71,118,230,1) 100%);
background: linear-gradient(45deg, rgba(142,84,233,1) 0%,rgba(71,118,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e54e9', endColorstr='#4776e6',GradientType=1 );
  color: #FFFFFF;
  box-shadow:
    0px 1px 5px -1px rgba(0, 0, 0, 0.4),
    0px 0px 10px -1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 2em;
  font-weight: 300;
  margin: 20% auto;
  text-align: center;
}

